body{
    margin: 0;
    font-family: sans-serif;
    margin-top: -1.25rem;
}
.header{
    
    background-color: blue; 
    background: linear-gradient(50deg,violet 0% , blue 30%, violet 90%);
}
.horizontal-list{
    list-style: none;
    padding: 0px;
    /* margin-bottom: -50px; */
}
.horizontal-list li{
    display: inline-block;
    margin: 0.5rem;
    
    
}
.horizontal-list a{
    color: antiquewhite;
    font-size: 1.1rem; 
    transition: 0.5s color border-bottom 0.4s;
}
.text-right{
    text-align: right;
}
a{
    text-decoration: none;
}
#websiteName span ,#websiteName h2{
    display: inline-block;
    margin-left: 10px;
    font-size: 2rem;
    color: floralwhite;
    font-family: cursive;
    margin-top: 1rem;
    padding-top: 10px;
    margin-bottom: -1rem;
    
}
#websiteName{
    
    
    align-items: center !important;
    margin-bottom: -1rem !important;
    
}
.nav{
    /* margin-left: 42vw !important; */
    /* display: flex;
    flex-wrap: wrap; */
    justify-content: flex-end;
    
    
    margin-top: 15px;
    
}
#websiteName a:hover{
    color: pink;
    box-shadow: lightgray;
    cursor: pointer;
}
.nav li a:hover{
    color: #4f4f4f;
    text-decoration: underline;
    cursor: pointer;
}
#footer{
    position: fixed;
    bottom: 0;
    background-color: black;
    color: white;
    text-align: left;
    /* margin-left: 10px; */
    width: 100%;
    height: 8%;
}
